<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/styles.css"/>

    <title>Template</title>
</head>
<body>

    <header class="header wrapper">
        <nav class="navbar">

            <ul class="links">
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li class="active">Sign in</li>
            </ul>

            <span class="brand-logo">Logo</span>
        </nav>
    </header>

    <section class="intro-fullscreen">
        <div class="wrapper">
            <h2 class="title">Our mission</h2>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's dummy text since the 1500.</p>
        </div>
    </section>

    <section class="wrapper bio">
        <h2 class="title">About</h2>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's dummy text since the 1500s, when an unknown</p>
    </section>

    <div class="team">
        <section class="wrapper">
            <h2 class="title">Team</h2>

            <div class="team-row">
                <figure>
                    <img src="images/team3.jpg" alt=""/>
                    <figcaption>
                        <div>John Dow</div>
                        <div><i>Founder &amp; CEO</i></div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="images/team2.jpg" alt=""/>
                    <figcaption>
                        <div>John Dow</div>
                        <div><i>Co-Founder</i></div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="images/team1.jpg" alt=""/>
                    <figcaption>
                        <div>John Dow</div>
                        <div><i>Investor</i></div>
                    </figcaption>
                </figure>
            </div>

            <a class="button" href="#">Work with us</a>
        </section>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.931238139141!2d-73.97443648497179!3d40.76353707932632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f00a343b33%3A0xc3ffd52286c8a436!2z0JTQttC10L3QtdGA0LDQuy3QvNC-0YLQvtGA0YEt0LHQuNC70LTQuNC90LMsIDc2NyA1dGggQXZlLCBOZXcgWW9yaywgTlkgMTAxNTMsINCh0KjQkA!5e0!3m2!1sru!2sru!4v1482344156070" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <footer class="footer">
        <div class="wrapper">

            <div class="social-info-links">
                <ul class="links info-links">
                    <li class="item"><a href="#">About</a></li>
                    <li class="item"><a href="#">Faq</a></li>
                    <li class="item"><a href="#">Work with us</a></li>
                </ul>
                <ul class="links social">
                    <li class="social-item"><a href="#"><span class="icon-mail"></span></a></li>
                    <li class="social-item"><a href="#"><span class="icon-fb"></span></a></li>
                    <li class="social-item"><a href="#"><span class="icon-twitter"></span></a></li>
                </ul>
            </div>

            <div class="copyright">
                <ul class="links">
                    <li class="item"><a href="#">Privacy policy</a></li>
                    <li class="item"><a href="#">Terms ams Conditions</a></li>
                    <li class="item"><a href="#">&copy; Company.LLC 2014</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Dhtvz выполнения: 4 ч. 30 мин. -->
</body>
</html>