.wrapper {
    max-width: 560px;
    margin: 0 auto;
}

header .top-kolontitul {
    margin-top: 30px;
    width: 70%;
}

header .bottom-kolontitul {
    margin-top: 50px;
    border-bottom: 1px solid #000;
}

    header  div {
        text-align: center;
    }

        header section h1 { margin: 30px 0 50px; }

    header p { margin: 0; }

section h3 > span {
    padding-right: 15px;
}

figure {
    text-align: center;
}

    figure figcaption {
        text-align: left;
    }

ul {
    padding-left: 15px;
}

.text-mono {
    font-family: monospace;
}

.copyright {
    text-align: center;
}


/* Latex test */
.text-latex {
    text-transform: uppercase;
    position: relative;
}

    .text-latex > span:nth-child(1) {
        font-size: 10px;
        position: absolute;
        left: 0.5em;
    }
    .text-latex > span:nth-child(2) {
        vertical-align: sub;
    }

/* CSS-counter */
.wrapper {
    counter-reset: chapter;
}

section:not(:last-child) > h3 {
    position: relative;
    margin-left: 1.5em;
}

section:not(:last-child) > h3:before {
    content: counter(chapter);
    counter-increment: chapter;
    position: absolute;
    left: -1.5em;
}

ol {
    counter-reset: li;
    padding-left: 0;
}

    ol > li {
        position: relative;
        list-style: none;
        margin: 5px 0 5px 2em;
    }

    ol > li:before {
        content: '[' counter(li) ']';
        counter-increment: li;
        position: absolute;
        left: -2em;
    }