body {
    font-family: $font-family;
    font-size: $font-size;
    color: $text-color;
    font-weight: bold;
}

p {
    line-height: 1.6em;
}

h2 {
    font-size: 43px;
}

i {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: $breakpoint;
    margin: 0 auto;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
}

/*** Header ***/
.header {
    position: fixed;
    width: 100%;
    height: 30px + (20px * 2);
    font-weight: bold;
    color: $gray-color;
    background-color: #fff;
    text-transform: uppercase;
    z-index: 1;

    .brand-logo {
        font-size: 30px;
        display: inline;

        a {
            color: $gray-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .navbar {
        margin: 20px 0;
    }
}

.navbar {
    &:after {
        display: block;
        content: '';
        clear: both;
    }

    .links {
        float: right;
        font-size: 14px;
        margin: 12px 0;

        li {

            a {
                padding: 12px 0;
                color: $gray-color;

                &:hover {
                    text-decoration: none;
                }
            }

            &:not(.sign-in) {
                margin: 0 12px;

                a {
                    border-bottom: 4px solid transparent;

                    &:hover {
                        border-bottom-color: $primary-color;
                        @include btn-hover-transition(ease .5s);
                    }
                }
            }

            &.sign-in {
                a {
                    padding-left: 38px;
                    padding-right: 38px;
                    border-radius: 20px;
                }

                &.active, &:hover {
                    a {
                        background-color: $primary-color;
                        color: #fff;
                        border-radius: 20px;
                        padding-left: 38px;
                        padding-right: 38px;
                        @include btn-hover-transition(ease .5s);
                    }
                }
            }
        }

        @media (max-width: 520px) {
            float: none;
        }
    }
}

/*** Intro ***/
.intro-fullscreen {
    color: #fff;
    text-align: center;
    padding: 0 70px;

    min-height: 600px;
    background-color: #686962;  // bg-color if dont't load images, 
    background-image: url('./../images/mountains.jpg');
    background-repeat: no-repeat;
    background-position: top center;

     .title {
        padding-top: 400px;
        padding-bottom: 30px;
        font-weight: bold;
        text-transform: capitalize;

        &:before, &:after {
            display: inline-block;
            content: '';
            margin: 0 15px 5px;

            /* sprite: icon-stars */
            background-image: url('./../images/sprites.png');
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
            background-position: 0 -36px;
        }
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        min-height: 350px;
        padding: 0 35px;

        .title {
            padding-top: 150px;
        }
    }

    @media (max-width: 479px) {
        padding: 0 10px;
        
        .title {
            &:before {
                margin-left: 0;
                margin-right: 5px;
            }

            &:after {
                margin-left: 5px;
                margin-right: 0;
            }
        }
    }
}

.about {
    text-align: center;
    padding: 70px;

    .title {
        color: $primary-color;
        padding-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        padding: 35px;
    }
}

.team {
    color: #fff;
    background-color: #0ebfdd;
    text-align: center;
    padding: 70px 0 60px;

    .team-row {
        figure {
            display: inline-block;
            padding: 0 35px;
            margin: 100px 0;
        }

        figure img {
            border-radius: 160px;
            max-width: 160px;
            height: auto;
        }

        figcaption {
            margin-top: 10px;
        }
    }

    .button {
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 35px;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        text-decoration: none;
        @include btn-hover-transition(ease .5s);

        &:hover {
            background-color: #fff;
            color: $primary-color;
        }
    }
}

.map {
    width: 100%;
    height: 500px;
}

@media (max-width: 319px) {
    .map {
        height: 200px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .map {
        height: 300px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .map {
        height: 400px;
    }
}

.footer {
    color: #fff;
    background-color: $text-color;
    font-size: $font-size-footer;

    .info-links {
        float: left;
        text-transform: uppercase;
        margin: 33px 0;

        .item {
            color: #fff;
            margin-right: 35px;
        }

        a {
            color: #fff;
        }
    }

    .social {
        float: right;
        margin: 20px 0;
        display: flex;

        .social-item {
            height: 38px;
            width: 38px;
            border: 1px solid #fff;
            border-radius: 19px;
            margin-left: 10px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .copyright {
        border-top: 1px solid $gray-color;

        &:after {
            display: block;
            content: '';
            clear: both;
        }

        .links {
            float: right;
            margin: 10px 0;

            .item {
                padding: 0 10px;

                &:not(:last-child) {
                    border-right: 1px solid $gray-color;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            a, span {
                color: $gray-color;
            }
        }
    }
}

.social-info-links:after {
    display: block;
    content: '';
    clear: both;
}

// Google Map tooltip
//---------------------
.google-tooltip {
    color: $gray-color;

    * {
        @include box-shadow(none);
    }

    .tooltip-content {
        left: 50px + 15px !important;

        table {
            th, td {
                text-align: left;
                font-weight: bold;
                line-height: 1.3em;
            }

            th {
                color: #fff;
            }
        }
    }

    .tooltip-wrap {
        .tooltip-arrow {
            border-top-width: 7px !important;
            border-left-width: 7px !important;
            border-right-width: 7px !important;
            border-top-color: $text-color !important;
        }

        .tooltip-outer-border {
            background-color: $text-color !important;
            left: 50px !important;
        }

        .tooltip-bg {
            background-color: $text-color !important;
            left: 50px !important;
        }

        .tooltip-arrow-hidden {
            display: none !important;
        }
    }

    .tooltip-close {
        display: none;
    }
}