// Fonts
//---------------------
$font-family: 'Raleway', 'Geneva', 'Tahoma', 'Verdana', sans-serif;
$font-size: 16px;
$font-size-footer: 13px;

// Color
//---------------------
$primary-color:    #0ebfdd;
$text-color:       #45494d;
$gray-color:       #82868f;

// Screen width
//---------------------
$breakpoint:    940px;
$screen-xs:     320px;
$screen-sm:     480px;
$screen-md:     786px;
$screen-lg:     992px;